{% extends 'base.html' %}

{% block sidebar%}

<div class="col-md-3">
    <div class="list-group">
        {% for item in categories %}
            <a href="/category/{{ item.pk }}" class="list-group-item list-group-item-action">{{ item.title }}</a>
        {% endfor %}
    </div>

</div>

{% endblock %}


{% block content%}

<div class="col-md-9">
            {% for item in recipes %}
            <div class="card mb-3">
                <div class="card-header">
{#                    {{ item.my_func }}           # item - это объект модели recipes, my_func - метод описанный в models.py#}
                    Категория: {{ item.category }}
                </div>


                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img scr="{{ item.photo.url }}" width="500" height="500" class="mr-3">

                        {% else %}
                            <img scr="https://s1.1zoom.ru/big3/984/Canada_Parks_Lake_Mountains_Forests_Scenery_Rocky_567540_3840x2400.jpg">
                        {% endif %}

                        <div class="media-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content }}</p>
                            <a href="#" class="btn btn-primary">Read more...</a>

                        </div>



                    </div>

                </div>
                <div class="card-footer text-muted">
                    {{ item.created_at|date:"Y-m-d H:i" }}
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}
